<h1 style="text-align: center;font-size: 22pt">文章</h1>
<h3>共计&nbsp;<%= page.posts.length %>&nbsp;篇文章</h3>
<ul class="archives">
  <% page.posts.each(function (post) { %>
  <li class="archive-item">
    <span class="date"><%= date(post.date, "YYYY年MM月DD日") %></span>
    <% if (post.title.length > 40) { %>
      <a class="title" href="<%- url_for(post.path) %>"><%= post.title.substring(0,40) %>...</a>
    <% } else { %>
      <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <% } %>
  </li>
  <% }) %>
</ul>

<%- partial('_partial/paginator') %>