<div class="post-list">
  <% page.posts.each(function (post) { %>
  <section class="post-item">
    <% if (post.title.length > 40) { %>
      <a class="post-item-title" href="<%- url_for(post.path) %>"><%= post.title.substring(0,40) %>...</a>
    <% } else { %>
      <a class="post-item-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <% } %>
    <div class="post-item-summary">
      <%- strip_html(post.content).substring(0, 100) %>
      <a class="read-more" href="<%- url_for(post.path) %>"> ... </a>
    </div>
    <div class="post-item-extra">
      <div class="date"><%- date(post.date, "YYYY年MM月DD日 HH:mm:ss") %></div>
      <div class="tags">
        <% post.tags.map(tag => tag.name).forEach(function (tag) { %>
        <div class="tag-item"><%- tag %></div>
        <% }) %>
      </div>
    </div>
  </section>
  <% }) %>
</div>

<%- partial('_partial/paginator') %>