<article>
    <h1 style="text-align: center;font-size: 22pt">标签</h1>

    <% if (site.tags.length){ %>
        <div>
            <h3>共计&nbsp;<%= site.tags.length %>&nbsp;个分类</h3>
            <ul style="display: flex;flex-wrap: wrap;gap: 20px">
                <% site.tags.sort('name').each(function(item){ %>
                    <% if(item.posts.length){ %>
                        <li>
                            <a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %>
                                <sup>[<%= item.posts.length %>]</sup></a>
                        </li>
                    <% } %>
                <% }); %>
            </ul>
        </div>
    <% } %>
</article>